<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        # Nonaktifkan MultiViews dan directory listing untuk keamanan
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # 1. Enforce HTTPS (Paksa HTTPS secara aman di Production)
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # 2. Blokir akses ke berkas sensitif dotfiles (.env, .git, dll.)
    RedirectMatch 404 /\.(env|git|htaccess|npmrc|editorconfig|prettierrc)

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller (index.php)...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
